.sales-table-container {
  margin-bottom: 50px;
  padding: 30px 35px;
}

.sales-table-title {
  font-size: 18px;
}

.sales-table {
  width: 100%;
  margin-top: 30px;
  border-spacing: 0;
  transition: background .3s;
}

.sales-table thead th {
  height: 55px;
  text-align: left;
}

.sales-table tbody td {
  height: 55px;
  border-top: 1px solid var(--gray-light-125-color);
}

.sales-table tbody tr:hover > td {
  background: var(--gray-light-150-color);
}
.sales-table tbody tr:nth-child(odd){
  background: rgba(0, 0, 0, 0.1);
}

.sales-table tbody tr:nth-child(even){
  background: var(--primary-color)
}
